.menu{
    height: 150px;
    padding: 25px 50px 0px 50px;
    box-shadow: 0px 15px 10px -15px #111;
}
#logout{
    margin: 35px 20px 0px 0px;
}
.content-panel{
    min-height: 60vh;
    height: max-content;
}
.space-50{
    height: 80px;
}
.silver{
    background-color: #f7f7f7;
}
.superior-professor{
    width: 100%;
    padding: 20px;
}
.table{
    margin-top:25px;
}
.content-table{
    min-height: 75%;
    height: max-content;
}
.fa-plus{
    color: green;
    font-size: 30px;
}
.adicionar-professor{
    padding-right: 30px;
    padding-top: 10px;
}
.fa-edit{
    font-size: 30px;
}
table tr{
    text-align: center;
 }
.titulo-professor{
    color: #0056B3;
}
.fa-door-open{
    font-size: 30px;
    color: black;
}
.fa-door-open:hover{
    color: red;
}
.fa-check{
    font-size: 30px;
    color: green;
}
.fa-ban{
    font-size: 30px;
    color: red;
}
.adicionar-aluno{
    margin-top: 10px;
    margin-right: 50px;
    width: 150px;
}
.adicionar-aluno i {
    font-size: 30px;
    color: black;
}