
.bloco-login{
    width: 100vw;
    height: 100vh;
    background: #dbeaf1d7;
    display: flex;
    justify-content: center;
    align-items: center
}
.content-login{
    width: 30%;
    height: max-content;
    margin: 0px 10px;
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    background-image: linear-gradient(to bottom, #C7E1F2 1%, white);
}

.logo div.col-md-4.offset-md-4{
    height: 150px;
}
.logo div.col-md-4.offset-md-4 img{
    height: 100%;
}
.login-titulo{
    width: 100%;
    text-align: center;
    display: inline-block;
}

