body{
    margin: 0px;
    padding: 0px;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.flex{
    display: flex;
}
.content-center{
    justify-content: center;
}
.content-between{
    justify-content: space-between;
}
.column{
    flex-direction:column;
}
.full-width{
    width: 100%;
}